<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        bootstrap="./vendor/autoload.php">

    <testsuites>
        <testsuite name="SmartInboxConnector_Test">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory="build/"
              processUncoveredFiles="true">
        <include>
            <directory>src</directory>
        </include>

        <exclude>
            <directory>src/Resources</directory>
        </exclude>
    </coverage>

    <logging>
        <junit outputFile="build/junit.xml"/>
    </logging>
</phpunit>
