<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>1&amp;1 Transaction Mail Extender</title>
        <title lang="de-DE">1&amp;1 Transaction Mail Extender</title>
        <input-field type="checkbox">
            <name>enable</name>
            <label>Enable</label>
            <label lang="de-DE">Aktivieren</label>
        </input-field>
    </card>
</config>
